
export username=$USER
export SHELL=$(which zsh)

_extra_paths=(
{{ range .extra_paths -}}
  "{{ . }}"
{{ end -}}
)
for _p in "${_extra_paths[@]}"; do
  case ":$PATH:" in *":$_p:"*) ;; *) PATH=$_p:$PATH ;; esac
done
unset _p _extra_paths
export PATH

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

{{ if .has_linuxbrew -}}
if ! hash brew 2>/dev/null; then
  eval "$({{ .linuxbrew_prefix }}/bin/brew shellenv)"
fi
export fpath=({{ .linuxbrew_prefix }}/share/zsh/functions {{ .linuxbrew_prefix }}/share/zsh/site-functions $fpath)
{{ end -}}

if [ -x ~/.zsh.d/ ]; then
  export fpath=(~/.zsh.d $fpath)
fi
# zinit setup
zmodload zsh/zutil
autoload -Uz is-at-least

ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"
[ ! -d $ZINIT_HOME ] && mkdir -p "$(dirname $ZINIT_HOME)"
[ ! -d $ZINIT_HOME/.git ] && git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
source "${ZINIT_HOME}/zinit.zsh"


# prompt
zinit ice depth=1; zinit light romkatv/powerlevel10k

# Plugins
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
zinit light softmoth/zsh-vim-mode
zinit light Aloxaf/fzf-tab

zinit snippet OMZP::git
zinit snippet OMZP::sudo
zinit snippet OMZP::command-not-found


# keybindings
bindkey '^[[A' history-search-backward
bindkey '^[[B' history-search-forward

# history
HISTFILE=~/.zsh_history
HISTFILESIZE=1000000000
HISTSIZE=10000000
SAVEHIST=10000000
HISTTIMEFORMAT="[%F %T] "
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_ignore_dups
setopt hist_find_no_dups

setopt autocd beep extendedglob nomatch notify
setopt CDABLE_VARS

alias scrls='screen -list | grep "Detached" | sed -e "s/^.*[0-9]\+\.\([a-zA-Z_0-9\-]\+\).*$/\1/"'
alias scr='screen -x -R'

_scrls() {
    reply=($(scrls))
}

# setup completion
compctl -K _scrls scr

# completion styling
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
zstyle ':fzf-tab:complete:*:*' fzf-preview \
  'if [[ -d $realpath ]]; then ls --color=always $realpath; elif [[ -f $realpath ]]; then bat --color=always --style=header,grid --line-range :300 $realpath; fi'
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls --color $realpath'
zstyle ':fzf-tab:complete:__zoxide_z:*' fzf-preview 'ls --color $realpath'

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
if [ -f ~/.p10k.zsh ]; then
  source ~/.p10k.zsh
fi
if hash dircolors 2>/dev/null; then eval "$(dircolors -b)"; fi
if hash lesspipe.sh 2>/dev/null; then eval "$(lesspipe.sh)"; fi
#if hash thefuck 2>/dev/null; then eval "$(thefuck --alias)"; fi
if hash zoxide 2>/dev/null; then eval "$(zoxide init --cmd cd zsh)"; fi
if hash bat 2>/dev/null; then alias cat='bat'; fi
if hash fzf 2>/dev/null; then
  eval "$(fzf --zsh)"
  export FZF_DEFAULT_OPTS="--preview 'if [[ -d {} ]]; then ls -la {}; elif [[ -f {} ]]; then bat --color=always --style=header,grid --line-range :300 {}; else echo \"(no preview)\"; fi' --preview-window 'right:60%'"
  export FZF_CTRL_R_OPTS="--no-preview"
fi
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

export EDITOR='vim'
if hash neovide 2>/dev/null; then
  export VISUAL='neovide --no-fork'
elif hash gvim 2>/dev/null; then
  export VISUAL='gvim -f'
else
  export VISUAL='vim'
fi

source ~/.aliases

# load completions
autoload -U compinit && compinit

zinit cdreplay -q

{{ if .has_modules -}}
# Environment Modules
source {{ .modules_init }}/zsh
{{ range .modules_to_load -}}
module load {{ . }} 2>&1 >/dev/null
{{ end -}}
{{ end -}}

{{ range $k, $v := .zsh_named_dirs -}}
hash -d {{ $k }}="{{ $v }}"
{{ end -}}

{{ range $k, $v := .extra_env -}}
export {{ $k }}={{ $v }}
{{ end -}}
